<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Weekly Reservation Calendar</title>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
</head>
<body>
<h1>Reservation Calendar</h1>
<div id="calendar"></div>

<div class="return-container">
    <a id="return-button" class="button">Back to Home</a>
</div>

<script th:src="@{/calendar.js}"></script>
</body>
</html>