<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Weekly Reservation Calendar</title>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
</head>
<body>
<h1>Reservation Calendar</h1>
<div id="calendar"></div>

<div class="return-container">
    <a id="return-button" class="button">Back to Home</a>
</div>

<div id="popup" class="popup-details">
    <div class="popup-content-details">
        <h2>Reservation Details</h2>

        <a id="reservation-detail-link" class="button" href="#">View Details</a>

        <p><strong>Name:</strong> <span id="popup-name"></span></p>
        <p><strong>Surname:</strong> <span id="popup-surname"></span></p>
        <p><strong>Email:</strong> <span id="popup-email"></span></p>
        <p><strong>Phone:</strong> <span id="popup-phone"></span></p>
        <p><strong>Service Type:</strong> <span id="popup-service"></span></p>
        <p><strong>Created At:</strong> <span id="popup-created"></span></p>
        <p><strong>Status:</strong> <span id="popup-status"></span></p>
        <p><strong>Reserved Date:</strong> <span id="popup-date"></span></p>
        <p><strong>Note:</strong> <span id="popup-notes"></span></p>

        <!-- Edit Button -->
        <button id="editButton" onclick="toggleEditSection()">Edit Reservation</button>

        <!-- Edit Form (Initially Hidden) -->
        <div id="popup-editSection" style="display: none;">
            <form id="editForm" action="/admin/reservations/calendar/update" method="post">
                <input type="hidden" name="id" id="edit-id">

                <label for="edit-orderedTime">Ordered Time:</label>
                <input type="datetime-local" id="edit-orderedTime" name="orderedTime">

                <label for="edit-notes">Notes:</label>
                <textarea id="edit-notes" name="notes" rows="4"></textarea>

                <button type="button" id="saveEdit">Save Changes</button>
            </form>
        </div>

        <form id="removeFromCalendarForm" action="/admin/reservations/calendar/remove-from-calendar" method="post">
            <input type="hidden" name="id" id="cal-delete-id">
            <button type="submit" class="delete-option">Remove from Calendar</button>
        </form>

        <button onclick="closePopup()">Close</button>
    </div>
</div>

<script th:src="@{/js/calendar.js}"></script>
</body>
</html>