<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>
<div class="home-container">
    <h1>Home Page - Admin</h1>

    <form action="/admin/reservations" method="get">
        <button type="submit">Show Reservations</button>
    </form>

    <form action="/admin/reservations/calendar" method="get">
        <button type="submit">View Calendar</button>
    </form>

    <form action="/admin/requests" method="get">
        <button type="submit">View Requests</button>
    </form>

    <form action="/admin/logout" method="post">
        <button type="submit">Log Out</button>
    </form>
</div>
</body>
</html>