<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Reservations</title>
</head>
<body>
<div class="reservations-container">
    <h1>List of Reservations</h1>

    <button id="filter-button" onclick="toggleFilterForm()">Filter</button>

    <form id="filter-form" action="/admin/reservations" method="get" class="filter-form" style="display: none;">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name">

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" placeholder="Surname">

        <label for="date">Created:</label>
        <input type="date" id="date" name="date">

        <label for="serviceType">Service:</label>
        <input type="text" id="serviceType" name="serviceType" placeholder="Service">

        <button type="submit">Apply Filters</button>
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Service Type</th>
            <th>Created At</th>
        </tr>
        <th:block th:each="reservation : ${reservations}">
            <tr>
                <td th:text="${reservation.customer.user.name}"></td>
                <td th:text="${reservation.customer.user.surname}"></td>
                <td th:text="${reservation.customer.user.email}"></td>
                <td th:text="${reservation.customer.phone}"></td>
                <td th:text="${reservation.service.name}"></td>
                <td th:text="${reservation.formattedCreatedAt}"></td>
            </tr>
        </th:block>
    </table>

    <div class="return-container">
        <form action="/home" method="get">
            <button type="submit">Home</button>
        </form>
    </div>
</div>
</body>
<script src="script.js"></script>
</html>
